# Python/Django
__pycache__/
*.py[cod]
.venv/
env/
venv/
*.sqlite3
/static/
staticfiles/
media/
.env
*.env
celerybeat-schedule

# Node/React
frontend/node_modules/
frontend/dist/
frontend/.env*
!frontend/.env.example

# OS/IDE
.DS_Store
.idea/
.vscode/
